@model GameCLGT.Areas.Admin.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.History.ID_game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.History.ID_game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vote.ID_game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vote.ID_game)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
