@model GameCLGT.Areas.Admin.Models.ADV

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ADV</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADV_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADV_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADV_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADV_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADV_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADV_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADV_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADV_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
