@model IEnumerable<GameCLGT.Areas.Admin.Models.ADV>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ADV_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADV_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADV_link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADV_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ADV_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADV_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADV_link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADV_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
