@model IEnumerable<GameCLGT.Areas.Admin.Models.Vote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vote_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game.Game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.User_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_game)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vote_rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.User_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
